.main__footer
  @extend .my-4

  .footer__logo
    img
      width: 114px

  .footer__links
    a
      color: $accent-color
      font-size: 14px
      font-weight: 400

    &:hover
      text-decoration: underline

  .footer__copyright
    color: #505050
    font-size: 14px
    font-weight: 400


  .footer
    &__logo,
    &__links,
    &__copyright
      @media (max-width: $screen-sm)
        text-align: center !important
        margin-bottom: 2rem