body
  font-family: $font-family-sans-serif
  font-size: $font-size-base
  line-height: $line-height-base
  background-color: $white

.container
  transition: 0.5s ease

.sect__info
  .info__block
    &.block--margin
      margin-bottom: 5rem

      @media (max-width: $screen-sm)
        margin-bottom: 0rem

  .sect__content
    margin-top: 4rem

  .info__card
    margin-bottom: 1rem

    .arrow--left
      &::before
        background-image: url('../images/sections/1/arrow_left.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: -5rem
        left: -15rem
        width: 199px
        height: 53px

        @media (max-width: $screen-sm)
          display: none

    .arrow--right
      &::before
        background-image: url('../images/sections/1/arrow_right.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: -5rem
        right: -10rem
        width: 199px
        height: 53px

        @media (max-width: $screen-sm)
          display: none
          
    &-title
      position: relative
      color: $accent-color
      font-size: 32px
      font-weight: 500
      margin-bottom: 1.5rem
      transition: 0.5s ease

      @media (max-width: $screen-sm)
        font-size: 25px
        text-align: center !important

    &-subtitle
      color: #464646
      font-size: 18px
      font-weight: 400
      line-height: 24px
      margin-bottom: 2rem
      transition: 0.5s ease

      @media (max-width: $screen-sm)
        font-size: 15px
        text-align: center !important

    &-image
      @media (max-width: $screen-sm)
        text-align: center !important

        img
          max-width: 150px
          transition: 0.5s ease

.sect__discount
  &.content--bg
    width: 100%
    min-height: 490px
    background: url("../images/sections/2/bg.png") center no-repeat
    background-size: cover

  .discount__left
    margin-top: 5rem

    @media (max-width: $screen-sm)
      margin-top: 2rem

    .arrow--right
      &::before
        background-image: url('../images/sections/2/arrow_right.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        bottom: -5rem
        right: -5rem
        width: 155px
        height: 64px

        @media (max-width: $screen-sm)
          display: none

        @media (max-width: $screen-md)
          display: none

    .circle__price
      @extend .float-right
      @extend .rounded-circle
      position: relative
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 200px
      height: 200px
      background-color: #ffffff
      transition: 0.5s ease

      @media (max-width: $screen-sm)
        float: none !important
        margin: 0 auto
        width: 160px
        height: 160px
    
      &-old
        color: #1e1e1e
        font-size: 18px
        font-weight: 500
        line-height: 47px
        text-decoration: line-through

      &-new
        color: #d04545
        font-size: 30px
        font-weight: 600
        line-height: 47px

        @media (max-width: $screen-sm)
          font-size: 25px

  .discount__right
    .discount__title
      color: #535353
      font-size: 26px
      font-weight: 600
      line-height: 40px
      text-transform: uppercase
      transition: 0.5s ease
      margin-bottom: 3rem

      @media (max-width: $screen-sm)
        font-size: 20px

      strong
        display: block
        color: #535353
        font-size: 45px
        font-weight: 600
        line-height: 40px
        text-transform: uppercase
        margin-bottom: 0.8rem

        @media (max-width: $screen-sm)
          font-size: 35px

      p
        margin: 0 !important

      div
        color: #68b0c9
        font-size: 25px
        line-height: 38px

        img
          vertical-align: baseline

        @media (max-width: $screen-sm)
          font-size: 22px

    &-callbox
      margin-top: 40px
      margin-bottom: 5.625rem /* 90/16 */
      width: 320px
      min-height: 200px
      box-shadow: 0 0 38px rgba(104, 176, 201, 0.34)
      border-radius: 20px
      background-color: transparent
      border: 5px solid #ffffff
      margin: 0 auto

      @media (max-width: $screen-sm)
        float: none !important
        width: 100%

      div
        padding: 1rem
        text-align: center

      h3
        color: #5892a6
        font-size: 20px
        font-weight: 600
        margin-bottom: 1rem

      h4
        color: #000000
        font-size: 12px
        font-weight: 400

      .callbox__form
        div
          margin-bottom: 1.5rem

        .btn
          font-size: 14px
          font-weight: 500
          text-transform: uppercase
          padding: 0.8rem 4rem
          border: 0
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1)

        .btn-primary
          background-color: #68b0c9 !important

.sect__statistics
  .statistic__card
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

    &-counter
      @extend .my-4
      position: relative

      @media (max-width: $screen-sm)
        margin-top: 1rem !important

      span
        color: $accent-color
        font-size: 40px
        font-weight: 600
        line-height: 41px

        @media (max-width: $screen-sm)
          font-size: 32px

    &-badge
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: -1

      @media (max-width: $screen-sm)
        width: 60px

    &-desc
      @extend .my-4
      color: #535353
      font-size: 16px
      font-weight: 500

.sect__sertificats
  &.content--bg
    width: 100%
    min-height: 600px
    background: url("../images/sertifikat_bg.png") center no-repeat
    background-size: cover
    //transition: 1s ease

    @media (max-width: $screen-sm)
      min-height: 400px

  .sertificat__image
    text-align: center
    margin-bottom: 3rem

  .sertificat__content
    &-title
      color: $accent-color;
      font-size: 22px
      font-weight: 500
      margin-bottom: 2rem

      @media (max-width: $screen-sm)
        font-size: 18px
        text-align: center
        flex-direction: column

      img
        @extend .float-left
        margin-right: 1rem
        width: 70px !important

        @media (max-width: $screen-sm)
          margin-bottom: 2rem

    p
      color: #323232
      font-size: 15px
      font-weight: 500

      @media (max-width: $screen-sm)
        font-size: 13px
        text-align: center

.sect__kreslo
  transition: 0.5s ease
  
  .round--line--01
    &::before
      background-image: url('../images/icons/round_line_1.png')
      background-repeat: no-repeat
      content: ""
      position: absolute
      top: 1rem
      right: -9rem
      width: 122px
      height: 109px
      z-index: 1

  .round--line--02
    &::before
      background-image: url('../images/icons/round_line_2.png')
      background-repeat: no-repeat
      content: ""
      position: absolute
      top: -2rem
      left: -10rem
      width: 148px
      height: 78px
      z-index: 1

  .round--line--03
    &::before
      background-image: url('../images/icons/round_line_3.png')
      background-repeat: no-repeat
      content: ""
      position: absolute
      top: 10rem
      right: -9rem
      width: 144px
      height: 54px
      z-index: 1

  .round--line--04
    &::before
      background-image: url('../images/icons/round_line_4.png')
      background-repeat: no-repeat
      content: ""
      position: absolute
      top: 14rem
      left: -10rem
      width: 148px
      height: 78px
      z-index: 1

  .round--line--01,
  .round--line--02,
  .round--line--03,
  .round--line--04
    &::before
      @media (max-width: $screen-sm)
        display: none

      @media (max-width: $screen-md)
        display: none

  .kreslo__card
    position: relative

    &-title
      color: $accent-color
      font-size: 25px
      font-weight: 500

      @media (max-width: $screen-sm)
        text-align: left !important


    &-subtitle
      color: #606060
      font-size: 15px
      font-weight: 400

      @media (max-width: $screen-sm)
        text-align: left !important

    div
      margin-bottom: 6rem

      @media (max-width: $screen-sm)
        margin-bottom: 3rem

.sect__cargos
  &.content--bg
    width: 100%
    min-height: 348px
    background: url("../images/sections/3/bg.png") center no-repeat
    background-size: cover
    //transition: 1s ease


  .cargo__left
    margin: 1rem 0 7rem

    @media (max-width: $screen-sm)
      margin-top: 2rem

    .circle__price
      @extend .rounded-circle
      position: relative
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 200px
      height: 200px
      margin: 0 auto
      background-color: #ffffff
      transition: 0.5s ease

      @media (max-width: $screen-sm)
        float: none !important
        margin: 0 auto

      &-discount
        color: $accent-color
        font-size: 17px
        font-weight: 600
        line-height: 47px
    
      &-old
        color: #1e1e1e
        font-size: 18px
        font-weight: 500
        line-height: 47px
        text-decoration: line-through

      &-new
        color: #d04545
        font-size: 30px
        font-weight: 600
        line-height: 47px

        @media (max-width: $screen-sm)
          font-size: 25px

  .cargo__right
    .cargo__title
      color: #535353
      font-size: 26px
      font-weight: 600
      line-height: 40px
      transition: 0.5s ease

      @media (max-width: $screen-sm)
        font-size: 20px

      strong
        display: block
        color: $accent-color
        font-size: 26px
        font-weight: 600
        line-height: 40px
        margin-bottom: 0.8rem

        @media (max-width: $screen-sm)
          font-size: 35px

      p
        margin: 0 !important

      .colored
        color: #68b0c9
        font-size: 25px
        line-height: 38px
        background-color: #ffffff
        max-width: 400px
        margin: 1rem auto
        padding: 0 1rem

        &.arrow--down
          &::before
            background-image: url('../images/icons/arrow_down.png')
            background-repeat: no-repeat
            content: ""
            position: absolute
            top: 3rem
            right: 2rem
            width: 65px
            height: 105px
            z-index: 1

            @media (max-width: $screen-sm)
              display: none

            @media (max-width: $screen-md)
              display: none

        img
          vertical-align: baseline

        @media (max-width: $screen-sm)
          font-size: 22px

    &-callbox
      margin-top: 40px
      margin-bottom: 5.625rem /* 90/16 */
      width: 350px
      min-height: 200px
      margin: 0 auto

      @media (max-width: $screen-sm)
        float: none !important
        width: 100%

      div
        padding: 1rem
        text-align: center

      h3
        color: #5892a6
        font-size: 20px
        font-weight: 600
        margin-bottom: 1rem

      h4
        color: #000000
        font-size: 12px
        font-weight: 400

      .callbox__form
        div
          margin-bottom: 1.5rem

        .form-control
          margin-top: 0 !important
          padding: 1.375rem 0.75rem
          font-size: 13px

        .btn
          font-size: 14px
          font-weight: 500
          text-transform: uppercase
          padding: 0.8rem 4rem
          border: 0
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1)
          width: 100%

        .btn-primary
          background-color: #68b0c9 !important


.sect__kreslo__details
  transition: 0.5s ease

  @media (max-width: $screen-sm)
    display: none

  .detail__title
    &:first-child
      text-align: right
      color: #535353
      font-size: 22px
      font-weight: 600
      margin-left: 2rem
      margin-bottom: 4rem

      span
        display: block

    &:last-child
      text-align: left
      color: $accent-color
      font-size: 22px
      font-weight: 600
      margin-left: 5rem

      span
        display: block
      

  .detail__left
    &-heading
      text-align: right
      color: #535353
      font-size: 22px
      font-weight: 600

      span
        display: block


  .detail__right
    h1
      color: $accent-color

    &-heading
      text-align: left
      color: $accent-color
      font-size: 22px
      font-weight: 600

      span
        display: block

  .detail__card
    position: relative

    .line--01
      &::before
        background-image: url('../images/icons/detail/1.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: 1rem
        right: -5rem
        width: 81px
        height: 41px
        z-index: 1

    .line--02
      &::before
        background-image: url('../images/icons/detail/2.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: 7rem
        right: -5rem
        width: 87px
        height: 29px
        z-index: 1

    .line--03
      &::before
        background-image: url('../images/icons/detail/3.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: 11rem
        right: -5rem
        width: 87px
        height: 23px
        z-index: 1

    .line--04
      &::before
        background-image: url('../images/icons/detail/4.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: 15rem
        right: -5rem
        width: 85px
        height: 34px
        z-index: 1

    .line--05
      &::before
        background-image: url('../images/icons/detail/5.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: 1rem
        left: -5rem
        width: 82px
        height: 42px
        z-index: 1

    .line--06
      &::before
        background-image: url('../images/icons/detail/6.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: 7rem
        left: -5rem
        width: 86px
        height: 28px
        z-index: 1

    .line--07
      &::before
        background-image: url('../images/icons/detail/7.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: 11rem
        left: -5rem
        width: 88px
        height: 22px
        z-index: 1

    .line--08
      &::before
        background-image: url('../images/icons/detail/8.png')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: 14rem
        left: -5rem
        width: 84px
        height: 34px
        z-index: 1

    .line--01,
    .line--02,
    .line--03,
    .line--04,
    .line--05,
    .line--06,
    .line--07,
    .line--08
      &::before
        @media (max-width: $screen-sm)
          display: none

    &-title
      color: #939393
      font-size: 16px
      font-weight: 500

      @media (max-width: $screen-sm)
        text-align: left !important

    div
      margin-bottom: 3rem

      @media (max-width: $screen-sm)
        margin-bottom: 3rem

.sect__map
  background-color: #ecf3f8
  min-height: 420px

  .map__image
    margin-bottom: 3rem

  .map__address
    img
      margin-top: 1.5rem
      margin-bottom: 1rem

      @media (max-width: $screen-md)
        margin-top: 0

    p
      color: #535353
      font-size: 16px
      font-weight: 400

    h2
      color: $accent-color
      font-size: 20px
      font-weight: 600
      margin-bottom: 3rem

    .callbox__form
      .btn
        font-size: 14px
        font-weight: 500
        text-transform: uppercase
        padding: 0.8rem 4rem
        border: 0
        box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1)

      .btn-primary
        background-color: #68b0c9 !important

.scroll__up
  position: fixed
  border-radius: 10px
  background-color: $accent-color
  height: 50px
  width: 50px
  line-height: 56px
  text-decoration: none
  text-align: center
  right: 25px
  bottom: 50px
  z-index: 1030
  cursor: pointer
  
  .fa
    color: #ffffff

.modal
  &-header
    padding: 3rem 1rem
    padding-bottom: 1rem
    border-bottom: 0

    h1
      text-align: center !important
      color: $accent-color
      font-size: 25px
      font-weight: 600
      margin-bottom: 1rem

    h2
      text-align: center
      color: #000000
      font-size: 14px
      font-weight: 400

    .close
      position: absolute
      right: -0.5rem
      top: -5rem
      font-size: 4rem
      font-weight: 500
      color: $accent-color
      text-shadow: none
      opacity: 1 !important
      outline: none

      &:hover
        color: #ffffff

  &-content
    border-radius: 20px !important

  &-body
    padding: 0 6rem 4rem

  &-form
    .form-control
      margin-top: 0 !important
      padding: 1.375rem 0.75rem
      font-size: 13px

    .btn
      font-size: 14px
      font-weight: 500
      text-transform: uppercase
      padding: 0.8rem 4rem
      width: 100%
      border: 0
      box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1)

      &.btn-primary
        background-color: #68b0c9 !important


