.top__line
  padding: 1rem

  .top__logo
    img
      width: 114px

    @media (max-width: $screen-sm)
      text-align: center
      margin-bottom: 1rem

  .top__phone
    text-align: right

    @media (max-width: $screen-sm)
      text-align: center

    &-number
      color: #5e5e5e
      font-size: 1.5rem /* 24/16 */
      font-weight: bold
      line-height: 42.35px

      @media (max-width: $screen-sm)
        font-size: 1.3rem

    &-button      
      color: #5892a6
      font-size: .875rem /* 14/16 */
      font-weight: 400

      &:hover
        text-decoration: underline

.main__header
  position: relative

  .content--bg
    width: 100%
    min-height: 580px
    background: url("../images/header_bg.png") center no-repeat
    background-size: cover
    //transition: 1s ease

    @media (max-width: $screen-sm)
      min-height: 400px

  .top__header
    margin-top: 5.625rem /* 90/16 */
    text-align: right

    @media (max-width: $screen-sm)
      margin-top: 2.5rem /* 40/16 */
      text-align: center

    &-title
      color: #535353
      font-size: 41px
      font-weight: 600
      line-height: 50px
      transition: 0.5s ease

      @media (max-width: $screen-sm)
        font-size: 35px

      @media (max-width: $screen-xs)
        font-size: 25px
        line-height: 40px

    &-subtitle
      color: #5892a6
      font-size: 27px
      font-weight: 400
      line-height: 42.35px
      transition: 0.5s ease

      @media (max-width: $screen-sm)
        font-size: 20px

      @media (max-width: $screen-xs)
        font-size: 15px

    &-callbox
      margin-top: 40px
      margin-bottom: 5.625rem /* 90/16 */
      width: 320px
      min-height: 240px
      box-shadow: 0 0 38px rgba(104, 176, 201, 0.34)
      border-radius: 20px
      background-color: #ffffff

      @media (max-width: $screen-sm)
        float: none !important
        width: 100%
        margin-bottom: 3.5rem

      div
        padding: 2rem
        text-align: center

        h3
          color: #5892a6
          font-size: 20px
          font-weight: 600
          margin-bottom: 1rem

        h4
          color: #000000
          font-size: 12px
          font-weight: 400

        .callbox__form
          .form-control
            font-size: 13px
            font-weight: 400
            padding: 1.375rem 0.75rem

          .btn
            font-size: 14px
            font-weight: 500
            text-transform: uppercase
            padding: 0.8rem 2rem
            border: 0
            box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1)
            width: 100%

          .btn-primary
            background-color: #68b0c9 !important