// https://codepen.io/2xsamurai/pen/WwmjKQ

.scroll-downs
  position: absolute
  top: 27px
  right: 0
  left: 0
  margin: auto
  width: 10px

.mousey
  width: 3px
  padding: 7px 10px
  height: 25px
  border: 2px solid #fff
  border-radius: 25px
  opacity: 0.75
  box-sizing: content-box

.scroller
  width: 3px
  height: 10px
  border-radius: 25%
  background-color: #fff
  animation-name: scroll
  animation-duration: 2.2s
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94)
  animation-iteration-count: infinite

@keyframes scroll
  0%
    opacity: 0

  10%
    transform: translateY(0)
    opacity: 1

  100%
    transform: translateY(15px)
    opacity: 0