.sect
  padding-top: 5.125rem /* 50/16 */
  padding-bottom: 3.125rem /* 50/16 */

  @media (max-width: $screen-sm)
    padding-top: 4rem

  &__title
    color: #535353
    font-size: 36px
    font-weight: 600
    margin-bottom: 100px

    @media (max-width: $screen-sm)
      font-size: 28px
      text-align: center
      margin-bottom: 70px
